################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/packages
/.vs

aspnet_client/
obj/

Bin/
bin/

node_modules/
PublicUpFiles/

*.scc
*.vspscc

*.cache //忽略以.cache 结尾的文件

ProjectWeb.Web/ProjectWeb.Web.csproj


ProjectWeb.Web/bin
ProjectWeb.Web/bin/
ProjectWeb.Web/bin/*

/ProjectWeb.Web/obj
/ProjectWeb.Web/obj/
/ProjectWeb.Web/obj/*

/ProjectWeb.DAL/bin
/ProjectWeb.DAL/bin/
/ProjectWeb.DAL/bin/*

/ProjectWeb.DAL/obj
/ProjectWeb.DAL/obj/
/ProjectWeb.DAL/obj/*

/ProjectWeb.IDAL/bin
/ProjectWeb.IDAL/bin/
/ProjectWeb.IDAL/bin/*

/ProjectWeb.IDAL/obj
/ProjectWeb.IDAL/obj/
/ProjectWeb.IDAL/obj/*

/ProjectWeb.BLL/bin
/ProjectWeb.BLL/bin/
/ProjectWeb.BLL/bin/*


/ProjectWeb.BLL/obj
/ProjectWeb.BLL/obj/
/ProjectWeb.BLL/obj/*


/ProjectWeb.IBLL/bin
/ProjectWeb.IBLL/bin/
/ProjectWeb.IBLL/bin/*

/ProjectWeb.IBLL/obj
/ProjectWeb.IBLL/obj/
/ProjectWeb.IBLL/obj/*

/ProjectWeb.Common/bin
/ProjectWeb.Common/bin/
/ProjectWeb.Common/bin/*

/ProjectWeb.Common/obj
/ProjectWeb.Common/obj/
/ProjectWeb.Common/obj/*

ProjectWeb.Models/bin
ProjectWeb.Models/bin/
ProjectWeb.Models/bin/*

/ProjectWeb.Models/obj
/ProjectWeb.Models/obj/
/ProjectWeb.Models/obj/*




