################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/packages
/.vs

aspnet_client/
obj/

Bin/
bin/

Config/

/Config

node_modules/
PublicUpFiles/

*.scc
*.vspscc

*.cache //忽略以.cache 结尾的文件

/ProjectWeb.Web/ProjectWeb.Web.csproj


/ProjectWeb.Web/bin/Debug
/ProjectWeb.Web/bin/Debug/
/ProjectWeb.Web/bin/Debug/*

/ProjectWeb.Web/obj/Debug
/ProjectWeb.Web/obj/Debug/
/ProjectWeb.Web/obj/Debug/*

/ProjectWeb.DAL/bin/Debug
/ProjectWeb.DAL/bin/Debug/
/ProjectWeb.DAL/bin/Debug/*

/ProjectWeb.DAL/obj/Debug
/ProjectWeb.DAL/obj/Debug/
/ProjectWeb.DAL/obj/Debug/*

/ProjectWeb.IDAL/bin/Debug
/ProjectWeb.IDAL/bin/Debug/
/ProjectWeb.IDAL/bin/Debug/*

/ProjectWeb.IDAL/obj/Debug
/ProjectWeb.IDAL/obj/Debug/
/ProjectWeb.IDAL/obj/Debug/*

/ProjectWeb.BLL/bin/Debug
/ProjectWeb.BLL/bin/Debug/
/ProjectWeb.BLL/bin/Debug/*


/ProjectWeb.BLL/obj/Debug
/ProjectWeb.BLL/obj/Debug/
/ProjectWeb.BLL/obj/Debug/*


/ProjectWeb.IBLL/bin/Debug
/ProjectWeb.IBLL/bin/Debug/
/ProjectWeb.IBLL/bin/Debug/*

/ProjectWeb.IBLL/obj/Debug
/ProjectWeb.IBLL/obj/Debug/
/ProjectWeb.IBLL/obj/Debug/*

/ProjectWeb.Common/bin/Debug
/ProjectWeb.Common/bin/Debug/
/ProjectWeb.Common/bin/Debug/*

/ProjectWeb.Common/obj/Debug
/ProjectWeb.Common/obj/Debug/
/ProjectWeb.Common/obj/Debug/*

/ProjectWeb.Models/bin/Debug
/ProjectWeb.Models/bin/Debug/
/ProjectWeb.Models/bin/Debug/*

/ProjectWeb.Models/obj/Debug
/ProjectWeb.Models/obj/Debug/
/ProjectWeb.Models/obj/Debug/*




