<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  
  <add name="DbConnectionString:ProjectWeb" connectionString="Data Source=121.40.28.230\DEV,50522;Initial Catalog=Test_MVC_Xie;Persist Security Info=True;User ID=pboxXm;Password=zhhz123;" providerName="System.Data.SqlClient"  />
  
</connectionStrings>
